.amount-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.left-amount {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

#tip-amount {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

#per-person {
    color: var(--grayish);
    font-size: 13px;
    font-weight: 400;
}

