.total-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-total {
    display: flex;
    flex-direction: column;
    line-height: 25px;
}

#total-label {
    color: var(--white);
    font-size: 20px;
    font-weight: 500;
}

#total-per-person {
    color: var(--grayish);
    font-size: 13px;
    font-weight: 400;
}

